[alias]
	d = difftool
	m = mergetool
	co = checkout
	st = status
	sw = switch
[core]
	# 设置 quotepath 为 false
	# 中文文件名才能正常显示
	# 否则会显示为系统编码的转义形式
	quotepath = false
[diff]
	tool = nvimdiff
[difftool]
	prompt = false
[init]
	defaultbranch = master
[log]
	date = iso8601
[merge]
	tool = nvimdiff
[mergetool]
	prompt = false
[pull]
	rebase = false

# 分远端仓库配置，用户名、邮箱、鉴权、签名等
[includeif "hasconfig:remote.*.url:https://github.com/**"]
	path = .config/git/github.gitconfig
[includeif "hasconfig:remote.*.url:git@github.com:*/**"]
	path = .config/git/github.gitconfig

# git-lfs 插件
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
